html, body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: times;
	font-size: 899px;
	background-color: yellow;
	font-weight: bold;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 800px;
}